body {
    margin: 0; 
    padding: 0;
}

.background {
    display: flex;
    flex-direction: column;
    height: 2000px;
    background-color: rgba(246,246,246,255);
    width: 100vw;
    height: 100vh;
}
.close_bttn {

    position: relative;
    left: 90%;
    top: 1.8%;
}
.close {
    position: relative;
    left: 70%;
    top: 1.2%;
    color: #b8b8b8;
    font-size: 1rem;
}
.navbar {
    display: flex;  
    position: fixed;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    height: 75px;
    width: 100%;
    z-index: 100;
}
.logo {
    position: relative;
    left: 4%;
    top: 40%;
}
.Jobinja {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    top: 30%;
    font-size: 1.5rem;
}
.topPage_Company_Reviews {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    top: 30%;
    font-size: 1rem;
    color: #b8b8b8;
}
.topPage_Find_Job {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35%;
    top: 30%;
    font-size: 1rem;
    color: #b8b8b8;

}
.topPage_Company_Aplications {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45%;
    top: 30%;
    font-size: 1rem;
    color: #b8b8b8;

}
.bell {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 55%;
    top: 30%;
  
}
.others{
    display: flex;  
    flex-direction: row;
    margin-top: 120px;
    background-color: rgba(246,246,246,255);
    height: 2000px;
}
.savemark{  
    margin-left: 100px;
    margin-top: 40px;
}
.slider {
    position: relative;
    top:  250px;
    left: 20%;
    width: 200px;
    height: 15px;
    background: #ddd;
}
.search_notice {
    display: flex;  
    flex-direction: column;
    margin-left: 300px;
    background-color: rgba(246,246,246,255);
    width: 55%;
    border-radius: 1%;
}
.search {
    display: flex;  
    flex-direction: row;
    background-color: white;
    height: 80px;
    border-radius: 10px;
}
.Search_box {
    position: relative;
    left: 2%;
    top: 10%;
    height: 70%;
    width: 80%;
    padding-left: 2%;
    font-size: 1rem;
    border-style: solid;
    border-radius: 10px;

}
.Search_button {
    position: relative;
    left:5%;
    top: 10%;
    height: 80%;
    width: 10%;
    background-color: #448df7;
    font-size: 1rem;
    color: azure;
    border-style: solid;
    border-radius: 10px;

}
.Select_input {
    position: relative;
    left: 10%;
    top: 1%;
    color: black;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 255);
    border-style: solid;
    border-width: 4px;
    border-color: rgba(246, 246, 246, 255);
    font-size: 1rem;
}
.star {
 padding-top: 40px;
 padding-left: 85px;

}
.filter_form {
    display: flex; 
    flex-direction: column;
    margin-left: 2%;
    background-color:rgb(255, 255, 255);
    width: 20%;
    height:790px;
    border-radius: 1%;
}
.filter_txt {
    padding-left: 15px;
    font-size: 1.5rem;
    font: bold;
    font-family: 'Arial', sans-serif;
}
.form_header1 {
    position: relative;
    top: 50px;
    padding-left: 15px;
    font-size: 1.5rem;
    font: bold;
    font-family: 'Arial', sans-serif;
}
.form_header2 {
    position: relative;
    top: 120px;
    padding-left: 15px;
    font-size: 1.5rem;
    font: bold;
    font-family: 'Arial', sans-serif;
}
.form_header3 {
    position: relative;
    top: 200px;
    padding-left: 15px;
    font-size: 1.5rem;
    font: bold;
    font-family: 'Arial', sans-serif;
}
.checkbox1{
    position: relative;
    top: 90px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
}
.checkbox2 {
    position: relative;
    top: 100px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
}
.checkbox3 {
    position: relative;
    top: 140px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
}
.checkbox4 {
    position: relative;
    top: 160px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
}
.checkbox5 {
    position: relative;
    top: 180px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
}
.checkbox__input {
    display: none;
}

.sqcheckbox__inner {
    position: relative;
    top: 10%;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox__inner {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox__input:checked+.sqcheckbox__inner {
    background-color: #458ef8;
    border-color: #458ef8;
}

.checkbox__input:checked+.checkbox__inner {
    background-color: #458ef8;
    border-color: #458ef8;
}

.checkbox__inner::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
}

.checkbox__input:checked+.checkbox__inner::after {
    opacity: 1;
}

.checkbox__input:checked+.sqcheckbox__inner::after {
    opacity: 1;
}

.txt {
    padding-left: 0.6rem;
    font-size: 1rem;
    color: #979fa5;
}
.n {
    display: flex;
    flex-direction: column;
    background-color:#f9f9f9;
    border-radius: 10px;
    margin: 3%;
    width: 1000px;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    width: 1000px;
}

.notices {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    height:690px;
    overflow:auto;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 255);
    border-radius: 10px;
}
.logoG {
    margin-top: 50px;
    margin-left: 50px ;
}
.title {
   
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    margin-left:10px ;
    margin-top: 20px;   
}
.expl {  
    margin-top: 8px; 
    margin-left: 5px ;
    font-size: 1.1rem;
    color: #6a6c73;
}
.full_expl {
    margin-left: 105px;
    margin-top: 20px;
    font-size: 1.1rem;
}
.location {
   
    font-size: 1rem;
    color: #979fa5;
}
.payment_txt {
    font-size: 1rem;
    color: #979fa5;
}
.tag {

    display: inline-block;
    color: rgb(101, 96, 96);
    border-radius: 25px;
    background-color: #d4d9de;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
}
.tags {
    display: flex;
    flex-direction: column;
    height: 35px; width: 90px;
    margin-left: 20px;
}
.bar {
    display: none;
}
@media (max-width: 1680px) {
    .close {
       left: 60%;
    }
}
@media (max-width: 1092px) {
    .close {
       left: 50%;
    }
    .slider {
        left: 10%;
    }
}
@media (max-width: 1258px) {
   .form_header1{
    font-size: 1.2rem;
   }
   .form_header2{
    font-size: 1.2rem;
   }
   .form_header3{
    font-size: 1.2rem;
   }
   .txt{
    font-size: 0.9rem;
   }sli
   .slider{
    width: 140px;
   }
   .search_notice {
    margin-left: 200px;
   }
}
@media (max-width:842px) {
    .filter_form{
        display: none;
    }
    .search_notice {
        width: 95%;
        margin: 2%;
    }
}
@media (max-width:1300px) {
    .bell{
        left: 40%;
    }
    .topPage_Company_Aplications{
        left: 30%;
    }
    .topPage_Company_Reviews{
        left: 27%;
    }
    .topPage_Find_Job {
        left: 0%;
    }
}
@media (max-width:927px) {
    .topPage_Company_Aplications{
        display: none;
    }
    .topPage_Company_Reviews{
        display: none;
    }
    .topPage_Find_Job {
        display: none;
    }
    .bell {
        display: none;
        visibility: hidden;
    }
    .bar {
        display: flex;
        flex-direction: column;
        margin-left: 70%;
        margin-top: 35px;
    }
}
@media (max-width: 548px) {
    .bar {
        display: flex;
        flex-direction: column;
        margin-left: 55%;
        margin-top: 30px;
    } 
}
@media (max-width: 428px) {
    .title{
        font-size: 1.1rem;
    }
    .expl{
        font-size: 0.9rem;
    }
    .full_expl{
        font-size: 1rem;
    }
    .tag {
        font-size: 0.9rem;
    }
    .tags {
        width: 60px;
        height: 30px;
    }
    .Search_box {
        font-size: 0.8rem;
    }
    .Search_button {
        font-size: 0.5rem;
    }
    .others {
        margin-top: 100px;
    }
}